body{
    background-color: beige;
}
h1{
    text-align: center;
}

    
   
    

.edu{
    align-items: center;
    /*display: flex;*/
   
    text-align: center;
    

    
}.expo{
    align-items: center;
    text-align: center;
    
    
}

h1{
text-align: center;
}
.skill{
    text-align: center;
}

.sphe{
    text-align: center;
}
.photo img{
    clip-path: circle(130px);
    align-items: center;
    border-image-repeat: repeat;
   
    justify-content: center;
    object-fit: cover;
    
}
.photo {
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-inline-end: auto;
}
.footer{
    background-color:rgb(175, 109, 28) ;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}
.zo{
  
    padding: 10px;
    border-radius: 50px;
}
.pp{
    margin-left: 100px;
}