body{
    background-color: beige;
}
h1{
    text-align: center;
}

    
   
    

.edu{
    align-items: center;
    /*display: flex;*/
   
    text-align: center;
    

    
}.expo{
    align-items: center;
    text-align: center;
    
    
}

h1{
text-align: center;
}
.skill{
    text-align: center;
    
}

.sphe{
    text-align: center;
} 

img{
    clip-path: circle(130px);
    
    
}


.footer{
    background-color:rgb(175, 109, 28) ;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 90px;
    
}
.zo{
  text-align: center;
    padding: 10px;
    border-radius: 100px;
    clip-path: ellipse(120);
}
.pp{
    margin: auto;
}